{% extends "layout.html.twig" %}

{% block content %}
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="col-xs-12">
            <ul class="event-list">
                {% for item in grandPrix %}
                    <li data-background="{{ item.fullSizePhoto }}" data-title="{{ item.title }}" data-slug="{{ item.slug }}">
                        <time datetime="{{ item.date }}">
                            <span class="day">{{ item.date[:-3] }}</span>
                            <span class="month">{{ item.date[-3:] }}</span>
                        </time>
                        <img alt="{{ item.title }}" src="{{ item.photo }}">

                        <div class="info">
                            <h2 class="title">{{ item.shortName }}</h2>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="section col-md-offset-1 col-fhd-8 col-md-10 col-sm-12">
                    <div class="text-center">
                        <h1 id="race-title">{{ current_race.title }}</h1>

                        <form action="{{ path('stage_results', {slug: '{0}'}) }}" method="post">

                            <div class="row team-container">
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="pilot1">#1 Pilot</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <img src="{{ team.pilot1.photo }}" alt="{{ team.pilot1.fullname }}" class="img-rounded" width="140" height="140">
                                        </div>
                                        <div class="col-xs-12">
                                            <select name="pilot1" id="pilot1" data-placeholder="Select #1 pilot" tabindex="1">
                                                {% for item in drivers %}
                                                    <option value="{{ item.hash }}" data-photo="{{ item.photo }}">
                                                        {{ "#%s. %s"|format(item.number, item.fullname) }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="pilot2">#2 Pilot</label>
                                        </div>
                                        <div class="col-xs-12">
                                            <img src="{{ team.pilot2.photo }}" alt="{{ team.pilot2.fullname }}" class="img-rounded" width="140" height="140">
                                        </div>
                                        <div class="col-xs-12">
                                            <select name="pilot2" id="pilot2" data-placeholder="Select #2 pilot" tabindex="2">
                                                {% for item in drivers %}
                                                    <option value="{{ item.hash }}" data-photo="{{ item.photo }}">
                                                        {{ "#%s. %s"|format(item.number, item.fullname) }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="team">Team</label>
                                        </div>
                                        <div class="col-xs-12" style="height: 160px;">
                                            <img src="{{ team.team.photo }}" alt="{{ team.team.title }}" class="img-rounded" width="140" height="140" style="padding-top: 40px;">
                                        </div>
                                        <div class="col-xs-12">
                                            <select name="team" id="team" data-placeholder="Select team" tabindex="3">
                                                {% for item in teams %}
                                                    <option value="{{ item.title }}" data-photo="{{ item.photo }}">
                                                        {{ item.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="engine">Engine</label>
                                        </div>
                                        <div class="col-xs-12" style="height: 160px;">
                                            <img src="{{ team.engine.photo }}" alt="{{ team.engine.title }}" class="img-rounded" width="140" height="140" style="padding-top: 40px; ">
                                        </div>
                                        <div class="col-xs-12">
                                            <select name="engine" id="engine" data-placeholder="Select engine" tabindex="4">
                                                {% for item in engines %}
                                                    <option value="{{ item.title }}" data-photo="{{ item.photo|default }}">
                                                        {{ item.title }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="stage" value="{{ current_race.slug }}"/>

                            <div class="row top17">
                                <button class="btn btn-primary btn-flat" tabindex="5" data-loading-text="Calculating..."
                                    data-event="ajaxRequest" data-container="#results_container" data-result-container="#results">Get results<i class="pull-right icon-chevron-right icon-large"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row top15" style="display: none;" id="results_container">
                <div class="col-md-offset-1 col-fhd-8 col-md-10 col-sm-12">

                    <div class="row">
                        <div class="section col-md-5 col-xs-12" id="results">

                        </div>
                        <div class="section col-md-offset-2 col-md-5 col-xs-12" id="best_team">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock %}
